<section class="section">
  <h2>Pokemon Selector Component</h2>
  <p class="section__paragraph">Select a Pokémon</p>
  <article class="images">
    @for (pokemon of pokemons; track pokemon.id) {
      <figure class="picture">
        <button
          [ngClass]="
            optionPlayerSelected() === pokemon.value ? 'selected' : 'default'
          "
          class="picture__button"
          (click)="selectedPlayer(pokemon.value)"
        >
          <img
            [src]="pokemon.imageUrl"
            [alt]="pokemon.name"
            class="picture__image"
          />
        </button>
        <figcaption>{{ pokemon.name }}</figcaption>
      </figure>
    }
  </article>
  @if (textToShowPlayerSelected() !== '') {
    <p class="text">
      You're picked <span>{{ textToShowPlayerSelected() | uppercase }}</span>
    </p>
  }
</section>
