<section class="section">
  <h2>Pokemon Selector Component</h2>
  <p class="section__paragraph">Select a Pokémon</p>
  <article class="images">
    @for (pokemon of pokemons; track pokemon.id) {
      <figure class="picture">
        <button
          class="picture__button"
          (click)="selectedPlayer(pokemon.option)"
        >
          <img
            [ngClass]="
              optionPlayerSelected() === pokemon.option ? 'selected' : 'default'
            "
            src="{{ pokemon.route }}"
            alt="{{ pokemon.name }}"
            class="picture__image"
          />
        </button>
        <figcaption>{{ pokemon.name }}</figcaption>
      </figure>
    }
  </article>
  @if (textToShowPlayerSelected() !== '') {
    <p class="text">
      You're picked <span>{{ textToShowPlayerSelected() | uppercase }}</span>
    </p>
  }
</section>
