.selects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.selects__select {
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid black;
}

.selects__select:focus-visible {
  outline: none;
}

.selects__buttons {
  display: flex;
  gap: 0.8rem;
}

.selects__button {
  margin-top: 1rem;
  background-color: var(--button-color);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  outline-offset: 4px;
}

.selects__button:active .selects__buttons--text {
  transform: translateY(-2px);
}

.selects__buttons--text {
  display: block;
  border-radius: 10px;
  padding: 12px 42px;
  background-color: lightskyblue;
  transform: translateY(-6px);
  will-change: transform;
  transition: transform 250ms;
}

.counters {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.counter__guest {
  padding: 10px;
  width: min-content;
  background-color: var(--box-color);
  color: var(--text-color-inside-box);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.counter__home {
  padding: 10px;
  width: min-content;
  background-color: var(--box-color);
  color: var(--text-color-inside-box);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.counter__home__number,
.counter__guest__number {
  font-size: 2rem;
  font-weight: 600;
}
