<section class="login__section">
  <h2>Welcome Back</h2>
  <form [formGroup]="loginForm" (ngSubmit)="submitSesion()" class="login__form">
    <div class="form__email">
      <label for="username">Username: </label>
      <input
        class="form__input"
        type="text"
        id="username"
        formControlName="username"
      />
      <span
        class="invalid__text"
        *ngIf="loginForm.get('username')?.hasError('required') && formSubmitted"
        >El usuario es requerido</span
      >
    </div>
    <div class="form__password">
      <label for="password">Password: </label>
      <input
        class="form__input"
        type="password"
        id="password"
        formControlName="password"
      />
      <span
        class="invalid__text"
        *ngIf="
          loginForm.get('password')?.hasError('minlength') && formSubmitted
        "
        >La contraseña debe tener como mínimo 8 caracteres</span
      >
      <span
        class="invalid__text"
        *ngIf="loginForm.get('password')?.hasError('required') && formSubmitted"
        >La contraseña es requerida</span
      >
    </div>
    <button class="form__button">Iniciar Sesión</button>
  </form>
</section>
