<section class="login__section">
  @if (message !== '') {
    <div
      [ngClass]="loggin ? 'login__message--success' : 'login__message--error'"
      class="login__message"
    >
      {{ message }}
    </div>
  }
  <h2>Welcome Back</h2>
  <form [formGroup]="loginForm" (ngSubmit)="submitSesion()" class="login__form">
    <div class="form__email">
      <label for="username">Username: </label>
      <input
        class="form__input"
        type="text"
        id="username"
        formControlName="username"
        [ngClass]="
          !loginForm.valid &&
          formSubmitted &&
          loginForm.get('username')?.hasError('required')
            ? 'form__input--invalid'
            : ''
        "
      />
      <span
        class="invalid__text"
        *ngIf="loginForm.get('username')?.hasError('required') && formSubmitted"
        >The username is required</span
      >
    </div>
    <div class="form__password">
      <label for="password">Password: </label>
      <input
        class="form__input"
        type="password"
        id="password"
        formControlName="password"
        [ngClass]="
          !loginForm.valid &&
          formSubmitted &&
          (loginForm.get('password')?.hasError('minlength') ||
            loginForm.get('password')?.hasError('required'))
            ? 'form__input--invalid'
            : ''
        "
      />
      <span
        class="invalid__text"
        *ngIf="
          loginForm.get('password')?.hasError('minlength') && formSubmitted
        "
        >The password must be at least 8 characters long.</span
      >
      <span
        class="invalid__text"
        *ngIf="loginForm.get('password')?.hasError('required') && formSubmitted"
        >The password is required</span
      >
    </div>
    <button class="form__button">Login</button>
  </form>
  <div class="login__credentials">
    <h3>You can use these credentials:</h3>
    <p>username: <strong>johndoe</strong></p>
    <p>password: <strong>1234pass</strong></p>
  </div>
</section>
