.characters {
  width: 70%;
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 1rem;
  justify-content: center;
}

.characters__character {
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: var(--section-color);
  border-radius: 5px;
}

.character__picture {
  width: 40%;
  height: 100%;
}

.character__status__circle {
  width: 10px;
  display: inline-block;
  background-color: red;
  border-radius: 50%;
  margin-right: 0.5rem;
  height: 10px;
}

.character__status__circle--dead {
  background-color: red;
}

.character__status__circle--alive {
  background-color: rgb(8, 162, 8);
}

.character__status__circle--unknown {
  background-color: gray;
}

.character__image {
  border-radius: 5px 0 0 5px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texts {
  width: 60%;
}

.text__location,
.text__episode {
  color: #f5e3e3a1;
}

.pagination {
  margin-top: 1rem;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.pagination__button {
  cursor: pointer;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 50px;
  font-weight: 600;
}

.pagination__pages {
  display: flex;
  list-style: none;
}
