<section class="filtered">
  <p class="filtered__paragraph">Filter by:</p>
  <form
    class="filtered__form"
    [formGroup]="filteredForm"
    (ngSubmit)="submitFilter()"
  >
    <input
      class="filtered__input"
      type="text"
      placeholder="Name"
      formControlName="name"
    />
    <input
      class="filtered__input"
      type="text"
      placeholder="Species"
      formControlName="specie"
    />
    <input
      class="filtered__input"
      type="text"
      placeholder="Type"
      formControlName="type"
    />
    <div class="selects">
      <select class="filtered__select" name="status" formControlName="status">
        @for (status of status; track status) {
          <option class="filtered__select__option" [value]="status">
            {{ status }}
          </option>
        }
      </select>
      <select class="filtered__select" name="gender" formControlName="gender">
        @for (gender of gender; track gender) {
          <option [value]="gender">{{ gender }}</option>
        }
      </select>
    </div>
    <button class="filtered__button" type="submit">Filter</button>
    <button (click)="resetFilter()" class="filtered__button" type="submit">
      Clean
    </button>
  </form>
</section>
<section class="pagination">
  <button
    class="pagination__button"
    (click)="prevPage()"
    [disabled]="charactersInfo?.info?.prev === null"
  >
    Prev
  </button>
  <button
    class="pagination__button"
    (click)="nextPage()"
    [disabled]="charactersInfo?.info?.next === null"
  >
    Next
  </button>
</section>
<section class="characters">
  @if (charactersInfo !== undefined) {
    @for (character of charactersInfo.results; track character.id) {
      <article class="characters__character">
        <figure class="character__picture">
          <img
            [src]="character.image"
            [alt]="character.name"
            class="character__image"
            loading="lazy"
          />
        </figure>
        <div class="texts">
          <h2 class="character__name">{{ character.name }}</h2>
          <p class="character__status">
            <span
              [ngClass]="
                character.status === 'Alive'
                  ? 'character__status__circle--alive'
                  : character.status === 'Dead'
                    ? 'character__status__circle--dead'
                    : 'character__status__circle--unknown'
              "
              class="character__status__circle"
            ></span
            >{{ character.status }} - {{ character.species }}
          </p>
          <p class="text__location">Last known location:</p>
          <p>{{ character.location.name }}</p>
          <p class="text__episode">First seen in:</p>
          <p>{{ character.episodeInfo?.name }}</p>
        </div>
      </article>
    }
  } @else {
    <h3 class="characters__notfound">No results found</h3>
  }
</section>
