<section class="pagination">
  <button
    class="pagination__button"
    (click)="prevPage()"
    [disabled]="charactersInfo?.info?.prev === null"
  >
    Prev
  </button>
  <button
    class="pagination__button"
    (click)="nextPage()"
    [disabled]="charactersInfo?.info?.next === null"
  >
    Next
  </button>
</section>
<section class="characters">
  @for (character of charactersInfo?.results; track character.id) {
    <article class="characters__character">
      <figure class="character__picture">
        <img
          [src]="character.image"
          [alt]="character.name"
          class="character__image"
        />
      </figure>
      <div class="texts">
        <h2 class="character__name">{{ character.name }}</h2>
        <p class="character__status">
          <span
            [ngClass]="
              character.status === 'Alive'
                ? 'character__status__circle--alive'
                : character.status === 'Dead'
                  ? 'character__status__circle--dead'
                  : 'character__status__circle--unknown'
            "
            class="character__status__circle"
          ></span
          >{{ character.status }} - {{ character.species }}
        </p>
        <p class="text__location">Last known location:</p>
        <p>{{ character.location.name }}</p>
        <p class="text__episode">First seen in:</p>
        <p>{{ character.episodeInfo?.name }}</p>
      </div>
    </article>
  }
</section>
