<header class="header">
  <a routerLink="/home" class="header__home">Home</a>
  <nav class="header__nav">
    <input type="checkbox" id="header__nav--check" />
    <div class="nav__header"></div>
    <div class="nav-btn">
      <label for="header__nav--check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    <ul class="header__links">
      <li>
        <a class="header__link" routerLink="basketball-counter"
          >Basketball Counter</a
        >
      </li>
      <li>
        <a class="header__link" routerLink="/home/pokemon-selector"
          >Pokemon Selector</a
        >
      </li>
      <li><a class="header__link" routerLink="/home/pipes">Pipes</a></li>
      <li><a class="header__link" routerLink="/home/rest-api">Rest Api</a></li>
    </ul>
  </nav>
  <div class="header__user">
    <p class="header__username">{{ username }}</p>
    <button class="header__logout" (click)="logout()">Logout</button>
  </div>
</header>
