.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--section-color);
  min-height: 50px;
  width: 100%;
  position: relative;
  margin-bottom: 1.5rem;
}

.header__nav > .nav__header {
  display: inline;
}

.header__nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.header__nav > .nav-btn {
  display: none;
}

.header__nav > #header__nav--check {
  display: none;
}

.header__home {
  text-decoration: none;
  color: var(--text-default-color);
}

.header__links {
  list-style: none;
}

.header__links {
  display: flex;
  gap: 1rem;
}

.header__link {
  text-decoration: none;
  color: var(--text-default-color);
}

.header__link:hover,
.header__home:hover {
  text-decoration: underline;
}

.header__user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__logout {
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;
  background-color: var(--box-color);
}

@media (width <= 768px) {
  .header {
    justify-content: space-between;
    padding: 1rem 2rem;
  }

  .header__links {
    display: none;
  }

  .header__home {
    display: none;
  }

  .header__nav > .nav-btn {
    display: block;
  }

  .header__nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .header__nav > #header__nav--check:checked ~ .header__links {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 1.9rem;
    background-color: var(--section-color);
  }

  .header__user {
    gap: 0.5rem;
  }
}
