<header class="header">
  <a [href]="routes.Home" class="header__home">Home</a>
  <nav class="header__nav">
    <input type="checkbox" id="header__nav--check" />
    <div class="nav__header"></div>
    <div class="nav-btn">
      <label for="header__nav--check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    <ul class="header__links">
      <li>
        <a class="header__link" [href]="routes.BasketCounter"
          >Basketball Counter</a
        >
      </li>
      <li>
        <a class="header__link" [href]="routes.PokemonSelector"
          >Pokemon Selector</a
        >
      </li>
      <li><a class="header__link" [href]="routes.Pipes">Pipes</a></li>
      <li>
        <a class="header__link" [href]="routes.RestApi">Rest Api</a>
      </li>
    </ul>
  </nav>
  <a class="header__home--mobile" [href]="routes.Home"
    ><img src="/home.svg" alt="Home Page Logo"
  /></a>
  <div class="header__user">
    <input
      class="header__home--user"
      type="checkbox"
      id="header__user--check"
    />
    <label for="header__user--check">
      <img class="header__user__image--check" src="/user.svg" alt="User Logo" />
    </label>
    <div class="header__user_info">
      <p class="header__username">{{ username }}</p>
      <button class="header__logout" (click)="logout()">Logout</button>
    </div>
  </div>
</header>
