.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--section-color);
  min-height: 50px;
  margin-bottom: 1.5rem;
}

.header__home {
  text-decoration: none;
  color: var(--text-default-color);
}

.header__links {
  list-style: none;
}

.header__links {
  display: flex;
  gap: 1rem;
}

.header__link {
  text-decoration: none;
  color: var(--text-default-color);
}

.header__link:hover,
.header__home:hover {
  text-decoration: underline;
}

.header__user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__logout {
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;
  background-color: var(--box-color);
}

@media screen and (width <= 768px) {
}
