<section class="section">
  <h2>Pokemon Selector Component</h2>
  <p class="section__paragraph">Select a Pokémon</p>
  <article class="images">
    <figure class="picture">
      <img
        aria-hidden="true"
        (click)="selectedPlayer(1)"
        #bulbasaur
        src="/bulbasaur.png"
        alt="Bulbasaur"
        class="default picture__image"
      />
      <figcaption>Bulbasaur</figcaption>
    </figure>
    <figure class="picture">
      <img
        aria-hidden="true"
        (click)="selectedPlayer(2)"
        #charmander
        src="/charmander.png"
        alt="Charmander"
        class="default picture__image"
      />
      <figcaption>Charmander</figcaption>
    </figure>
    <figure class="picture">
      <img
        aria-hidden="true"
        (click)="selectedPlayer(3)"
        #squirtle
        src="/squirtle.png"
        alt="Squirtle"
        class="default picture__image"
      />
      <figcaption>Squirtle</figcaption>
    </figure>
  </article>
  <p>playerSelected: {{ playerSelected() }}</p>
  @if (textToShowPlayerSelected() !== '') {
    <p class="text">{{ textToShowPlayerSelected() }}</p>
  }
</section>
