/* You can add global styles to this file, and also import other style files */

:root {
  --background-color: #022c43;
  --section-color: #053f5e;
  --font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  --box-color: #ffd700;
  --text-color-inside-box: #201d1d;
  --text-default-color: #f5e3e3;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/Poppins-Medium.ttf');
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-default-color);
}

.section {
  background-color: var(--section-color);
  width: 60%;
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 16px;
  text-align: center;
  min-height: auto;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
}

@media screen and (width <= 560px) {
  .section {
    width: 80%;
  }
}
